.search-bar {
    margin-bottom: 30px;
    width: 750px;
}

.player-option {
    display: flex;
    align-items: center;
}

.player-option-image {
    height: 36px;
}

.player-option-label {
    margin-left: 20px;
    font-size: 15px;
}